<!DOCTYPE html>
<html>
  <head>
    <title>Help</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <script type="text/javascript">
      window.default = "<%= image_url('default.jpg') %>"
      window.mag= "<%=image_url('mag.png')  %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
