<!DOCTYPE html>
<html>
  <head>
    <title>Help</title>
    <%= csrf_meta_tags %>
     <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBERKxjNFKIER1m_xsGh4AiuX-V92BguVo" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <%= favicon_link_tag "favicon.ico" %>
    <script type="text/javascript">
      window.default = "<%= image_url('default.jpg') %>"
      window.mag= "<%=image_url('mag.png')  %>"
      window.one_star_review="<%=image_url('one_star_review.png') %>"
      window.two_star_review="<%=image_url('two_star_review.png') %>"
      window.three_star_review="<%=image_url('three_star_review.png') %>"
      window.four_star_review="<%=image_url('four_star_review.png') %>"
      window.five_star_review="<%=image_url('five_star_review.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
